
.recuadro {
    position: block;
    display: none;
}

.contenedor {
    position: absolute;
    width: 100vh;
    height: 50vh;
    background-color: rgba(128 , 128, 128, .4);
    left: 22.8%;
    bottom: 25%;
    animation: aparecer 3s;
    border-radius: 1vw;
}


.titulo {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 3vw;
    color: red;
    margin-top: 1%;
    border-bottom: .4vw solid white;
}

.reglas {
    width: 50vw;
    height: 19vw;
    padding: .6vw 1.8vw;
    left: 2%;
    bottom: 6%;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgba(45, 45, 45, .4);
    position: absolute;
    z-index: 0;
    border-radius: 1vw;
    user-select: none;
    font-size: 1.2vw;
    -webkit-user-select: none;

}

.reglas p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    text-shadow: .1vw .1vw black;


}

@keyframes aparecer {
    0% {
        bottom: -50%;
    }
    50% {
        bottom: 35%;
    }
    100% {
        bottom: 25%;
    }
}

@keyframes rgb {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}